.buildpath
.DS_Store
.ea
.env
.idea
.project
.settings
.solr
/.idea
/assets
/public/_resources
/public/assets
/public/resources
/resources
/silverstripe-cache
/themes/starter
/vendor
_ss_environment.php
